@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --animation-duration: 50s;
  --animation-duration-slow: 60s;
  --min-height-calc: calc(100svh - 8.75rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #e7e5e4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
