@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: black;
  --animation-duration: 50s;
  --animation-duration-slow: 60s;
  --min-height-calc: calc(100svh - 9rem);
  --max-height-calc: calc(100svh - 11rem);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --foreground: #e7e5e4;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}

.styled-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 6px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background-color: var(--background);
}
